#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default0 { bindings = <
//╭── 00      ──┬── 01     ──┬── 02     ──┬── 03     ──┬── 04     ──╮                        ╭── 05      ──┬── 06    ──┬── 07    ──┬── 08   ──┬── 09       ──╮
  &kp Q         &kp W        &kp E        &kp R        &kp T                                 &kp Y         &kp U       &kp I       &kp O      &kp P
//├── 10      ──┼── 11     ──┼── 12     ──┼── 13     ──┼── 14     ──┤                        ├── 15      ──┼── 16    ──┼── 17    ──┼── 18   ──┼── 19       ──┤
  &kp A         &kp S        &kp D        &kp F        &kp G                                 &kp H         &kp J       &kp K       &kp L      &kp SEMI
//├── 20      ──┼── 21     ──┼── 22     ──┼── 23     ──┼── 24     ──┤                        ├── 25      ──┼── 26    ──┼── 27    ──┼── 28   ──┼── 29       ──┤
  &kp Z         &kp X        &kp C        &kp V        &kp B                                 &kp N         &kp M       &kp COMMA   &kp DOT    &kp FSLH
//╰──         ──┼── 30     ──┴── 31     ──┼── 32     ──┼── 33     ──┼── 34    ──╮╭── 35    ──┼── 36      ──┼── 37    ──┼── 38    ──┼── 39   ──┴──          ──╯
                &trans       &trans       &trans       &trans       &kp SPACE    &kp SPACE   &trans        &trans      &trans      &trans
//              ╰──        ──┴──        ──┴──        ──┴──        ──┴──       ──╯╰──       ──┴──         ──┴──       ──┴──       ──┴──      ──╯
//                                                                                           ╭── 40      ──┬── 41    ──┬── 42    ──┬── 43   ──┬── 44       ──╮
                                                                                             &kp Y         &kp U       &kp I       &kp O      &kp P
//                                                                                           ├── 45      ──┼── 46    ──┼── 47    ──┼── 48   ──┼── 49       ──┤
                                                                                             &kp H         &kp J       &kp K       &kp L      &kp SEMI
//                                                                                           ├── 50      ──┼── 51    ──┼── 52    ──┼── 53   ──┼── 54       ──┤
                                                                                             &kp N         &kp M       &kp COMMA   &kp DOT    &kp FSLH
//                                                                               ╭── 55    ──┼── 56      ──┼──       ──┼──       ──┼──      ──┴──          ──╯
                                                                                 &kp SPACE   &trans        >; };
//                                                                               ╰──       ──┴──         ──╯
    };
};


    };
};
