config SHIELD_SG2_LEFT
    def_bool $(shields_list_contains,sg2_left)

config SHIELD_SG2_RIGHT
    def_bool $(shields_list_contains,sg2_right)

config SHIELD_SG2_RONLY
    def_bool $(shields_list_contains,sg2_ronly)
